# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# Environment
.env
.env.*